doctype html
html(lang="zh-cmn-Hans")
  head
    meta(charset="utf-8")
    title Clarkok
    style
      include style.css
      include logo.css
  body
    canvas#background
    #info
      nav#links
        #content
          a(href="/blog/") Blog
          a(href="//github.com/clarkok") Github
          span larkok
          a(href="mailto:mail@clarkok.com") Mail
          a Resume // TODO
      #logo
    script
      include script.min.js
